.section-hero {
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;

	@include respond(phone) {
		background-color: #fdf2e9;
		padding: 2.4rem 0 6.4rem 0;
	}
}

.section-featured {
	padding: 4.8rem 0 3.2rem 0;
}

.section-how {
	padding: 9.6rem 0 4.8rem;
	@include respond(tab-small) {
		padding: 6.4rem 0 0;
	}
	@include respond(phone) {
		padding: 4.8rem 0 0;
	}
}

.section-meals {
	padding: 9.6rem 0;
	@include respond(tab-small) {
		padding: 3.2rem 0 4.8rem;
	}
}

.section-testimonials {
	background-color: #fdf2e9;
	display: grid;
	grid-template-columns: 55fr 45fr;
	align-items: center;

	@include respond(tab-port) {
		grid-template-columns: 1fr;
	}
}

.section-pricing {
	padding: 9.6rem 0 6.4rem;
	@include respond(tab-port) {
		padding: 3.2rem 0 0;
	}
}

.section-cta {
	padding: 4.8rem 0 12.8rem;
}
